<!DOCTYPE html>
{% load static %}
<html lang="ru" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Система анализа рекламных вывесок</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-900">

  <div class="bg-indigo-50">
    <header>
      <nav class="bg-indigo-50 border-gray-200 px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
          <a href="#" class="flex items-center">
            <img src="{% static 'img/header_future-makers.svg' %}" alt="Logo" class="mr-3" width="40" height="40"/>
            <span class="text-[#0087bf] self-center text-xl font-semibold whitespace-nowrap">Система анализа рекламных вывесок</span>
          </a>
          <div class="flex items-center lg:order-2">
            <a href="#" class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5 mr-2">Войти</a>
            <a href="#" class="text-white bg-[#0087bf] hover:bg-[#006a8d] font-medium rounded-lg text-sm px-4 py-2.5 mr-2">Загрузить изображение</a>
          </div>
          <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1">
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
              <li><a href="#" class="block py-2 pr-4 pl-3 hover:text-[#006a8d] text-black rounded lg:bg-transparent lg:p-0">Главная</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl py-10 sm:py-48 lg:py-10 text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Загрузите изображение и получите информацию о вывеске</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Просто загрузите изображение вывески и мгновенно получите подробную информацию о ней.</p>
        <div class="mt-10 flex items-center justify-center">
          <a href="#" class="rounded-md bg-[#0087bf] px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#006a8d]">Загрузить изображение</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-[#0087bf] py-10 sm:py-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-base font-semibold text-indigo-200">Лёгкий анализ вывесок</h2>
        <p class="mt-2 text-3xl font-bold text-white sm:text-4xl">Упрощённый процесс анализа изображений</p>
        <p class="mt-6 text-lg text-indigo-200">Функции, которые позволяют легко загружать изображения и получать данные о вывесках</p>
      </div>
      <div class="mt-20 grid grid-cols-1 gap-y-16 gap-x-8 lg:grid-cols-3 text-white">
        <div>
          <h3 class="text-base font-semibold">Загрузка изображений</h3>
          <p class="mt-4 text-indigo-200">Пользователи могут легко загружать изображения вывесок</p>
        </div>
        <div>
          <h3 class="text-base font-semibold">Отображение данных</h3>
          <p class="mt-4 text-indigo-200">Мгновенное отображение информации о загруженных вывесках</p>
        </div>
        <div>
          <h3 class="text-base font-semibold">Удобный интерфейс</h3>
          <p class="mt-4 text-indigo-200">Простой и интуитивно понятный дизайн для лёгкой навигации</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
